<% provide(:title, "Posts")%>

<table class="table" style="margin-top:60px;">
  <thead>
    <tr>
      <th scope="col">번호</th>
      <th scope="col" style="width: 40%;">제목</th>
      <th scope="col">작성자</th>
      <th scope="col">작성일자</th>
      <th scope="col" colspan="2" ></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr scope="row">
        <td><%= post.id%></td>
        <td><%= link_to "#{post.title}", post , style: "color: black; width: 60%;"%><%=  image_tag('new_logo', style:"width:35px;") if post.created_at.to_s[8..10].to_i + 1 >= DateTime.now.to_s[8..10].to_i %></td>
        <td><%= (User.find(post.user_id).email) if post.user_id%></td>
        <td><%= post.created_at.to_s[0..19]%></td>
        <td><%= link_to '수정하기', edit_post_path(post) %></td>
        <td><%= link_to '삭제하기', post, method: :delete, data: { confirm: '정말?' }, style: "color: tomato;" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>